In [1]:
!pip install kaggle
import kaggle

!kaggle datasets download shivamb/netflix-shows -f netflix_titles.csv

Requirement already satisfied: kaggle in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (1.8.3)
Requirement already satisfied: black>=24.10.0 in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from kaggle) (26.1.0)
Requirement already satisfied: bleach in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from kaggle) (6.3.0)
Requirement already satisfied: kagglesdk<1.0,>=0.1.14 in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from kaggle) (0.1.15)
Requirement already satisfied: mypy>=1.15.0 in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from kaggle) (1.19.1)
Requirement already satisfied: packaging in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from kaggle) (26.0)
Requirement already satisfied: protobuf in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from kaggle) (6.33.4)
Requirement already satisfied: python-dateutil in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from kaggle) (2.32.5)
Requirement already satisfied: six>=1.10 in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from kaggle) (1.17.0)
Requirement already satisfied: tqdm in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from kaggle) (4.67.1)
Requirement already satisfied: types-requests in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from kaggle) (2.32.4.20260107)
Requirement already satisfied: types-tqdm in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from kaggle) (4.67.0.20250809)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from kaggle) (2.6.3)
Requirement already satisfied: click>=8.0.0 in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from black>=24.10.0->kaggle) (8.3.1)
Requirement already satisfied: mypy-extensions>=0.4.3 in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from black>=24.10.0->kaggle) (1.1.0)
Requirement already satisfied: pathspec>=1.0.0 in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from black>=24.10.0->kaggle) (1.0.3)
Requirement already satisfied: platformdirs>=2 in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from black>=24.10.0->kaggle) (4.5.1)
Requirement already satisfied: pytokens>=0.3.0 in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from black>=24.10.0->kaggle) (0.4.0)
Requirement already satisfied: colorama in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from click>=8.0.0->black>=24.10.0->kaggle) (0.4.6)
Requirement already satisfied: typing_extensions>=4.6.0 in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from mypy>=1.15.0->kaggle) (4.15.0)
Requirement already satisfied: librt>=0.6.2 in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from mypy>=1.15.0->kaggle) (0.7.8)
Requirement already satisfied: webencodings in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from requests->kaggle) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from requests->kaggle) (3.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hammad afridi\.kaggle\kaggle_api\env\lib\site-packages (from requests->kaggle) (2026.1.4)
Dataset URL: https://www.kaggle.com/datasets/shivamb/netflix-shows
License(s): CC0-1.0
netflix_titles.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [2]:
#extract file from zip file
import zipfile
zip_ref = zipfile.ZipFile('netflix_titles.csv.zip') 
zip_ref.extractall() # extract file to dir
zip_ref.close() # close file

In [3]:
import pandas as pd 
df = pd.read_csv('netflix_titles.csv')

In [4]:
#load the data into sql server using replace option
import sqlalchemy as sal
engine = sal.create_engine('mssql://HAMMAD-AFRIDI/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()

In [5]:
df.to_sql('netflix_raw', con=conn , index=False, if_exists = 'append')
conn.close()

DatabaseError: Execution failed on sql 'INSERT INTO netflix_raw (show_id, type, title, director, "cast", country, date_added, release_year, rating, duration, listed_in, description) VALUES (:show_id, :type, :title, :director, :cast, :country, :date_added, :release_year, :rating, :duration, :listed_in, :description)': (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__netflix___2B97D71CD92C8C23'. Cannot insert duplicate key in object 'dbo.netflix_raw'. The duplicate key value is (s10). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
[SQL: INSERT INTO netflix_raw (show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ... 6407 characters truncated ...  ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: ('s1', 'Movie', 'Dick Johnson Is Dead', 'Kirsten Johnson', None, 'United States', 'September 25, 2021', 2020, 'PG-13', '90 min', 'Documentaries', 'As her father nears the end of his life, filmmaker Kirsten Johnson stages his death in inventive and comical ways to help them both face the inevitable.', 's2', 'TV Show', 'Blood & Water', None, 'Ama Qamata, Khosi Ngema, Gail Mabalane, Thabang Molaba, Dillon Windvogel, Natasha Thahane, Arno Greeff, Xolile Tshabalala, Getmore Sithole, Cindy Mah ... (5 characters truncated) ... , Ryle De Morny, Greteli Fincham, Sello Maake Ka-Ncube, Odwa Gwanya, Mekaila Mathys, Sandi Schultz, Duane Williams, Shamilla Miller, Patrick Mofokeng', 'South Africa', 'September 24, 2021', 2021, 'TV-MA', '2 Seasons', 'International TV Shows, TV Dramas, TV Mysteries', 'After crossing paths at a party, a Cape Town teen sets out to prove whether a private-school swimming star is her sister who was abducted at birth.', 's3', 'TV Show', 'Ganglands', 'Julien Leclercq', 'Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabiha Akkari, Sofia Lesaffre, Salim Kechiouche, Noureddine Farihi, Geert Van Rampelberg, Bakary Diombera', None, 'September 24, 2021', 2021, 'TV-MA', '1 Season', 'Crime TV Shows, International TV Shows, TV Action & Adventure', 'To protect his family from a powerful drug lord, skilled thief Mehdi and his expert team of robbers are pulled into a violent and deadly turf war.', 's4', 'TV Show', 'Jailbirds New Orleans', None, None, None, 'September 24, 2021', 2021, 'TV-MA', '1 Season', 'Docuseries, Reality TV', 'Feuds, flirtations and toilet talk go down among the incarcerated women at the Orleans Justice Center in New Orleans on this gritty reality series.', 's5', 'TV Show' ... 1988 parameters truncated ... 'Action & Adventure, Dramas', "A tidal wave spells disaster for a ship of New Year's Eve revelers when it capsizes the mammoth vessel, sending passengers into a battle for survival.", 's171', 'Movie', 'Rhyme & Reason', 'Peter Spirer', 'Too $hort, B-Real, Kurtis Blow, Da Brat, Grandmaster Caz, Sean "P. Diddy" Combs, Chuck D., Desiree Densiti, Dr. Dre, E-40, MC Eiht, Heavy D, Lauryn H ... (118 characters truncated) ... The Notorious B.I.G., Master P, Q-Tip, Raekwon, Redman, Senen Reyes, Busta Rhymes, RZA, DJ Scratch, Erick Sermon, Tupac Shakur, Adario Strange, Suave', 'United States', 'September 1, 2021', 1997, 'R', '89 min', 'Documentaries, Music & Musicals', 'The world and culture of rap song topics such as race, violence, police, family and sex are examined by hip-hop performers from both coasts.', 's172', 'Movie', 'Same Kind of Different as Me', 'Michael Carney', 'Greg Kinnear, Renée Zellweger, Djimon Hounsou, Jon Voight, Olivia Holt', 'United States', 'September 1, 2021', 2017, 'PG-13', '120 min', 'Dramas, Faith & Spirituality', 'A wealthy couple whose marriage is on the rocks befriends a local homeless man who changes their perspectives in this inspiring true story.', 's173', 'Movie', 'School of Rock', 'Richard Linklater', 'Jack Black, Joan Cusack, Mike White, Sarah Silverman, Lee Wilkof, Kate McGregor-Stewart, Adam Pascal, Suzzanne Douglas, Miranda Cosgrove, Kevin Alexander Clark, Joey Gaydos Jr., Robert Tsai, Veronica Afflerbach, Jordan-Claire Green', 'United States, Germany', 'September 1, 2021', 2003, 'PG-13', '110 min', 'Comedies, Music & Musicals', "Musician Dewey Finn gets a job as a fourth-grade substitute teacher, where he secretly begins teaching his students the finer points of rock 'n' roll.", 's174', 'Movie', 'Snervous Tyler Oakley', 'Amy Rice', 'Tyler Oakley', 'United States', 'September 1, 2021', 2015, 'PG-13', '83 min', 'Documentaries, LGBTQ Movies', 'The inspiring Internet star and LGBT advocate shares an intimate view of his life and relationships during his international "Slumber Party" tour.')]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [ ]:
df[df.show_id=='s5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

In [ ]:
max(df.description.dropna().str.len())

248